body {
  background: #FAFAFA;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}
/* theming scrollbars */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #E0E0E0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(56, 142, 60, 1.0); /*rgba(49,27,146,1.0);*/
}
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}
